<a href="https://colab.research.google.com/github/OneAirbendyBoi/Unit-2/blob/main/quiz11_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def q11(n):
  if len(n) >= 1:
    if n[0] == n[len(n) - 1]:
      return True
    else: return False
  else: return False
    

n = q11([1, 2, 5, 7, 8, 1])
print(n)

True

In [ ]:
def q12(n):
  z=0
  for i in range(0, len(n)):
    x = len(n[i])
    z+=x
  y=z/len(n)
  return y
  
h = q12(["word", "baby", "jobe"])
print(h)

4.0

In [17]:

def q13(items,amount):
  food=["bread","rice","pasta"]
  electronic=["ipad","phone","laptop"]
  liquor=["beer","wine","champange"]
  total=0
  for i in range (len(items)):
    current_item=items[i]
    current_amt=amount[i]
    if current_item in food:
      total+=1.1*current_amt
    elif current_item in electronic:
      total+=1.125*current_amt
    elif current_item in liquor:
      total+=1.2*current_amt
    else:
      print("Item is not in the database")    
      newbase=input(f"What type of item is {current_item} ?（food, electronic or liquor):")
      while newbase not in "food" "liquor" "electronic":
        print("Sorry, this is not an option")
        newbase=input(f"What type of item is {current_item} ?（food, electronic or liquor):")
      else:
        if newbase==food:
          food=["bread","rice","pasta",newitem]
        if newbase==electronic:
          electronic=["ipad","phone","laptop",newitem]
        if newbase==liquor:
          liquor=["beer","wine","champange",newitem]
      

  return total
items=["bread","beer","ipad","apple", "rum"]
amount=[300,800,3000,100,5000]
total_customer_a=q13(items,amount)
print(total_customer_a)

Item is not in the database
What type of item is apple ?（food, electronic or liquor):nuts
Sorry, this is not an option
What type of item is apple ?（food, electronic or liquor):food
Item is not in the database
What type of item is rum ?（food, electronic or liquor):liquor
4665.0

In [7]:
def q14(a,b,c):
  if abs(b-c) == abs(a-b):
    return True
  elif abs(a-c)==abs(c-b):
    return True
  elif abs(c-a)==abs(a-b):
    return True
  else: return False

g = q14(3,6,9)
print(g)

True